
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;

    /* Grid properties */
    display: grid;
    grid-template-areas: 
        'header header'
        'aside main'
        'aside footer';
    grid-template-columns: 25% 70%;
    justify-content: space-around;
}

header {
    background-color: tan;
    color: white;
    text-align: center;
}

.left-content {
    padding: 10px 20px;
}

/* styles for form container */
.search-form {
    display: flex;
    flex: wrap;
}

.form-container {
    border-bottom: 3px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
#forecast-container {
    display: flex;
}

form>* {
    display: block;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    padding: 5px;
    border-radius: .5em;
    margin: 5px;
}


.forecast-cards {
    width: 200px;
    height: 300px;
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
    justify-content: space-around;
    margin: 5px;
    display: block;
    align-items: center;
  
}

.card-content {
    display: block;
    padding: 5px;
}

img {
    height: 75px;
    width: 75px;
}

button {
    background-color: darkolivegreen;
    color: white;
}

li {
    list-style: none;
    text-align: center;

}

/* Grid layout */
header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

